name: Publish hypersdkflutter to pub.dev
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish Package to Pub.dev
    environment: production
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Set up Dart (for pub.dev)
        uses: dart-lang/setup-dart@v1

      - name: Publish to pub.dev
        run: dart pub publish --force
